/* Tabler Icons 2.47.0 (MIT licence, https://tabler.io) - only the icons this app
   uses, bundled so they show without internet. Made by scripts/build-icon-font.py;
   run it again after using a new icon. */
@font-face { font-family: "tabler-icons"; font-style: normal; font-weight: 400; font-display: block; src: url("./tabler-icons-subset.woff2") format("woff2"); }
.ti { font-family: "tabler-icons" !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.ti-activity:before { content: "\ed23"; }
.ti-activity-heartbeat:before { content: "\f0db"; }
.ti-adjustments:before { content: "\ea03"; }
.ti-alarm:before { content: "\ea04"; }
.ti-alert-circle:before { content: "\ea05"; }
.ti-alert-octagon:before { content: "\ecc6"; }
.ti-alert-triangle:before { content: "\ea06"; }
.ti-arrow-back-up:before { content: "\eb77"; }
.ti-arrow-down-left:before { content: "\ea13"; }
.ti-arrow-down-right:before { content: "\ea15"; }
.ti-arrow-left:before { content: "\ea19"; }
.ti-arrow-right:before { content: "\ea1f"; }
.ti-arrow-up-right:before { content: "\ea24"; }
.ti-arrows-exchange:before { content: "\f1f4"; }
.ti-atom-2:before { content: "\ebdf"; }
.ti-ban:before { content: "\ea2e"; }
.ti-bell:before { content: "\ea35"; }
.ti-bolt:before { content: "\ea38"; }
.ti-box:before { content: "\ea45"; }
.ti-building-factory-2:before { content: "\f082"; }
.ti-building-warehouse:before { content: "\ebe3"; }
.ti-bulb:before { content: "\ea51"; }
.ti-calendar:before { content: "\ea53"; }
.ti-calendar-check:before { content: "\f824"; }
.ti-calendar-due:before { content: "\f621"; }
.ti-calendar-event:before { content: "\ea52"; }
.ti-calendar-exclamation:before { content: "\f829"; }
.ti-calendar-off:before { content: "\ee1f"; }
.ti-calendar-repeat:before { content: "\fad2"; }
.ti-calendar-stats:before { content: "\ee20"; }
.ti-category:before { content: "\f1f6"; }
.ti-chart-bar:before { content: "\ea59"; }
.ti-chart-line:before { content: "\ea5c"; }
.ti-check:before { content: "\ea5e"; }
.ti-checklist:before { content: "\f074"; }
.ti-checks:before { content: "\ebaa"; }
.ti-chevron-down:before { content: "\ea5f"; }
.ti-chevron-left:before { content: "\ea60"; }
.ti-chevron-right:before { content: "\ea61"; }
.ti-chevron-up:before { content: "\ea62"; }
.ti-circle-check:before { content: "\ea67"; }
.ti-clipboard-list:before { content: "\ea6d"; }
.ti-clipboard-plus:before { content: "\efb2"; }
.ti-clipboard-text:before { content: "\f089"; }
.ti-clock:before { content: "\ea70"; }
.ti-clock-exclamation:before { content: "\f847"; }
.ti-clock-hour-4:before { content: "\f319"; }
.ti-cloud-upload:before { content: "\ea75"; }
.ti-copy:before { content: "\ea7a"; }
.ti-dashboard:before { content: "\ea87"; }
.ti-database:before { content: "\ea88"; }
.ti-database-import:before { content: "\ee6f"; }
.ti-database-plus:before { content: "\fa17"; }
.ti-device-desktop:before { content: "\ea89"; }
.ti-device-floppy:before { content: "\eb62"; }
.ti-diamond-filled:before { content: "\f73d"; }
.ti-download:before { content: "\ea96"; }
.ti-droplet:before { content: "\ea97"; }
.ti-droplet-filled:before { content: "\ee80"; }
.ti-droplet-plus:before { content: "\f905"; }
.ti-edit:before { content: "\ea98"; }
.ti-engine:before { content: "\ef7e"; }
.ti-equal-not:before { content: "\ee86"; }
.ti-exchange:before { content: "\ebe7"; }
.ti-external-link:before { content: "\ea99"; }
.ti-eye:before { content: "\ea9a"; }
.ti-file-alert:before { content: "\ede6"; }
.ti-file-analytics:before { content: "\ede7"; }
.ti-file-check:before { content: "\ea9c"; }
.ti-file-description:before { content: "\f028"; }
.ti-file-download:before { content: "\ea9d"; }
.ti-file-import:before { content: "\edea"; }
.ti-file-plus:before { content: "\eaa0"; }
.ti-file-spreadsheet:before { content: "\f03e"; }
.ti-file-text:before { content: "\eaa2"; }
.ti-file-type-pdf:before { content: "\fb10"; }
.ti-file-upload:before { content: "\ec91"; }
.ti-filter:before { content: "\eaa5"; }
.ti-flag:before { content: "\eaa6"; }
.ti-flask:before { content: "\ebd2"; }
.ti-gauge:before { content: "\eab1"; }
.ti-heart-rate-monitor:before { content: "\ef61"; }
.ti-help-circle:before { content: "\f91d"; }
.ti-history:before { content: "\ebea"; }
.ti-hourglass:before { content: "\ef93"; }
.ti-info-circle:before { content: "\eac5"; }
.ti-layout-dashboard:before { content: "\f02c"; }
.ti-list:before { content: "\eb6b"; }
.ti-list-check:before { content: "\eb6a"; }
.ti-list-details:before { content: "\ef40"; }
.ti-list-search:before { content: "\eea9"; }
.ti-loader:before { content: "\eca3"; }
.ti-lock:before { content: "\eae2"; }
.ti-lock-access:before { content: "\eeaa"; }
.ti-lock-open:before { content: "\eae1"; }
.ti-mail:before { content: "\eae5"; }
.ti-mail-check:before { content: "\f939"; }
.ti-mail-off:before { content: "\f15a"; }
.ti-map-pin:before { content: "\eae8"; }
.ti-menu:before { content: "\eaeb"; }
.ti-menu-2:before { content: "\ec42"; }
.ti-message:before { content: "\eaef"; }
.ti-message-2:before { content: "\eaec"; }
.ti-messages:before { content: "\eb6c"; }
.ti-mood-smile:before { content: "\eaf7"; }
.ti-notes:before { content: "\eb6e"; }
.ti-package:before { content: "\eaff"; }
.ti-package-off:before { content: "\f16c"; }
.ti-palette:before { content: "\eb01"; }
.ti-pencil:before { content: "\eb04"; }
.ti-photo-check:before { content: "\f35e"; }
.ti-player-pause:before { content: "\ed45"; }
.ti-player-play:before { content: "\ed46"; }
.ti-plug:before { content: "\ebd9"; }
.ti-plus:before { content: "\eb0b"; }
.ti-point:before { content: "\eb0c"; }
.ti-refresh:before { content: "\eb13"; }
.ti-repeat:before { content: "\eb72"; }
.ti-report:before { content: "\eece"; }
.ti-report-analytics:before { content: "\eecb"; }
.ti-route:before { content: "\eb17"; }
.ti-route-off:before { content: "\f194"; }
.ti-scan:before { content: "\ebc8"; }
.ti-search:before { content: "\eb1c"; }
.ti-send:before { content: "\eb1e"; }
.ti-settings:before { content: "\eb20"; }
.ti-settings-2:before { content: "\f5ac"; }
.ti-settings-automation:before { content: "\eed6"; }
.ti-share:before { content: "\eb21"; }
.ti-shield:before { content: "\eb24"; }
.ti-square-filled:before { content: "\fc40"; }
.ti-table:before { content: "\eba1"; }
.ti-table-export:before { content: "\eef8"; }
.ti-target:before { content: "\eb35"; }
.ti-thermometer:before { content: "\ef67"; }
.ti-timeline:before { content: "\f031"; }
.ti-trash:before { content: "\eb41"; }
.ti-trash-x:before { content: "\ef88"; }
.ti-trending-down:before { content: "\eb42"; }
.ti-trending-up:before { content: "\eb43"; }
.ti-upload:before { content: "\eb47"; }
.ti-urgent:before { content: "\eb48"; }
.ti-user:before { content: "\eb4d"; }
.ti-user-check:before { content: "\eb49"; }
.ti-user-exclamation:before { content: "\ec12"; }
.ti-user-question:before { content: "\f7cf"; }
.ti-users:before { content: "\ebf2"; }
.ti-users-group:before { content: "\fa21"; }
.ti-wave-sine:before { content: "\ecd4"; }
.ti-wave-square:before { content: "\ecd5"; }
.ti-x:before { content: "\eb55"; }
